@import '~normalize.css/normalize';
@import '~blueprint-css/src/blueprint';
@import './styles/_config';
@import './styles/_global';
@import './styles/_typography';
@import './styles/_inputs';
@import './styles/_range';
@import './styles/_buttons';
@import './styles/_lists';
@import './styles/_icons';

ngx-input-star-rating {
  --color-star-highlight: gold !important;
}